[Unit]
Description=Wayclip Clipboard Manager
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wayclip
Restart=on-failure

[Install]
WantedBy=default.target
